.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s;
}
.producto:hover {
    transform: scale(1.05);
}
.producto-img {
    width: 100%;
    border-radius: 10px;
}
.producto-nombre {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}
.producto-precio {
    font-size: 1.2em;
    color: #e44d26;
    font-weight: bold;
}
.producto-descripcion {
    font-size: 0.9em;
    color: #666;
}